.view-button {
  background-color: #cddc39;
  display: inline-block;
  width: 150px;
  padding: 8px;
  color: #010101;
  border: 1px solid #010101;
  border-radius: 100px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.view-button:hover,
.view-button:active {
  background-color: #010101;
  color: #cddc39;
  border: 1px solid #cddc39;
}

.button-link {
  text-decoration: none;
  color: #010101;
  width: 100%;
}
.button-link:hover,
.button-link:active {
  background-color: #010101;
  color: #cddc39;
  outline: none;
  border: 1px solid #cddc39;
}
